@page "/products/create"
@using Projeto_SPA_Blazor.Contracts.V1.Category
@using Projeto_SPA_Blazor.Contracts.V1.Product
@using Projeto_SPA_Blazor.Services
@inject NavigationManager navigationManager
@inject ProductService ProductService

<PageTitle>Create Product</PageTitle>

<h1>Create Product</h1>

<EditForm Model="model" OnValidSubmit="HandleSubmitAsync">

	<div class="mb-3">
		<label for="Title" class="form-label"><b>Title</b></label>
		<InputText class="form-control" type="text" id="Title" @bind-Value=@model.Title />
	</div>
	<div class="mb-3">
		<label for="Price" class="form-label"><b>Price</b></label>
		<InputNumber class="form-control" type="number" id="Price" @bind-Value=@model.Price />
	</div>
	<div class="mb-3">
		<label for="CategoryId" class="form-label"><b>Category</b></label>
		<InputNumber class="form-control" type="number" id="CategoryId" @bind-Value=@model.CategoryId />
	</div>

	@if(!string.IsNullOrEmpty(message))
	{
		<div class="alert alert-info">@message</div>
	}

	@if (errors.Any())
	{
		<div class="alert alert-danger">
			<ul>
				@foreach (var error in errors)
				{
					<li>
						@error
					</li>
				}
			</ul>
		</div>
	}

	<button class="btn btn-success" type="submit"><b>Create</b></button>
	<a class="btn btn-primary" href="/products"><b>Cancel</b></a>
</EditForm>

@code
{
	CreateProductRequest model = new();

	List<string> errors = new();
	string? message;

	async Task HandleSubmitAsync()
	{
		errors.Clear();
		message = null;

		var request = await ProductService.CreateAsync(model);

		if(request is null)
		{
			errors.Add("Server error.");
			return;
		};

		if (!request.Success)
		{
			errors = request.Errors?.ToList() ?? new();
			message = request.Message;
			return;
		}

		navigationManager.NavigateTo("/products");
	}
}