@page "/products/delete/{id:int}"
@using Projeto_SPA_Blazor.Contracts.V1.Product
@using Projeto_SPA_Blazor.Services
@inject NavigationManager navigationManager
@inject ProductService ProductService

<PageTitle>Delete Product</PageTitle>

<h1>Delete: @model!.Title</h1>

<EditForm Model="model" OnValidSubmit="HandleSubmitAsync">

	<div class="mb-3">
		<label for="Title" class="form-label"><b>Title</b></label>
		<InputText readonly id="Title" type="text" class="form-control" @bind-Value=@model.Title/>
	</div>
	<div class="mb-3">
		<label for="Price" class="form-label"><b>Price</b></label>
		<InputNumber readonly id="Price" type="number" class="form-control" @bind-Value=@model.Price/>
	</div>

	@if(errors.Any())
	{
		<div class="alert alert-danger">
			<ul>
				@foreach(var error in errors)
				{
					<li>
						@error
					</li>
				}
			</ul>
		</div>
	}

	<button class="btn btn-danger" type="submit"><b>Delete</b></button>
	<a class="btn btn-primary" href="/products"><b>Cancel</b></a>
</EditForm>

@code
{
	[Parameter]
	public int id { get; set; }

	ProductResponse model = new();

	List<string> errors = new();

	protected override async Task OnInitializedAsync()
	{
		var response = await ProductService.GetAsync(id);

		if(response is null || !response.Success || response.Data is null)
		{
			navigationManager.NavigateTo("/products");
			return;
		}

		model.Title = response.Data.Title;
		model.Price = response.Data.Price;
		model.CategoryId = response.Data.CategoryId;
	}

	async Task HandleSubmitAsync()
	{
		errors.Clear();

		var request = await ProductService.DeleteAsync(id);

		if(!request)
		{
			errors.Add("Failed to delete Product.");
			return;
		}

		navigationManager.NavigateTo("/products");
	}
}