@page "/products/update/{id:int}"
@using Projeto_SPA_Blazor.Contracts.V1.Product
@using Projeto_SPA_Blazor.Services
@inject NavigationManager navigationManager
@inject ProductService ProductService

<PageTitle>Update Product</PageTitle>

<h1>Update: @model.Title</h1>

<EditForm Model="model" OnValidSubmit="HandleSubmitAsync">

	<div class="mb-3">
		<label for="Title" class="form-label"><b>Title</b></label>
		<InputText id="Title" class="form-control" type="text" @bind-Value=@model.Title/>
	</div>
	<div class="mb-3">
		<label for="Price" class="form-label"><b>Price</b></label>
		<InputNumber id="Price" class="form-control" type="number" @bind-Value=@model.Price/>
	</div>
	<div class="mb-3">
		<label for="CategoryId" class="form-label"><b>Category</b></label>
		<InputNumber id="CategoryId" class="form-control" type="number" @bind-Value=@model.CategoryId />
	</div>

	@if(!string.IsNullOrEmpty(message))
	{
		<div class="alert alert-info">@message</div>
	}

	@if(errors.Any())
	{
		<div class="alert alert-danger">
			<ul>
				@foreach (var error in errors)
				{
					<li>
						@error
					</li>
				}
			</ul>
		</div>
	}

	<button class="btn btn-success" type="submit"><b>Update</b></button>
	<a class="btn btn-primary" href="/products"><b>Cancel</b></a>
</EditForm>

@code
{
	[Parameter]
	public int id { get; set; }

	UpdateProductRequest model = new();

	List<string> errors = new();
	string? message;

	protected override async Task OnInitializedAsync()
	{
		var response = await ProductService.GetAsync(id);

		if(response is null || !response.Success || response.Data is null)
		{
			navigationManager.NavigateTo("/products");
			return;
		}

		model.Title = response.Data.Title;
		model.Price = response.Data.Price;
		model.CategoryId = response.Data.CategoryId;
	}

	async Task HandleSubmitAsync()
	{
		errors.Clear();
		message = null;

		var request = await ProductService.UpdateAsync(id, model);

		if(request is null)
		{
			errors.Add("Server error.");
			return;
		}

		if (!request.Success)
		{
			errors = request.Errors?.ToList() ?? new();
			message = request.Message;
			return;
		}

		navigationManager.NavigateTo("/products");
	}
}
