@page "/categories/delete/{id:int}"
@using Projeto_SPA_Blazor.Contracts.V1.Category
@using Projeto_SPA_Blazor.Services
@inject NavigationManager navigationManager
@inject CategoryService CategoryService

<PageTitle>Delete Category</PageTitle>

<h1>Delete: @model!.Title</h1>

<EditForm Model="model" OnValidSubmit="HandleSubmitAsync">

	<div class="mb-3">
		<label for="Title" class="form-label"><b>Title</b></label>
		<InputText readonly id="Title" class="form-control" type="text" @bind-Value=@model.Title/>
	</div>

	@if(errors.Any())
	{
		<div class="alert alert-danger">
			<ul>
				@foreach(var error in errors)
				{
					<li>
						@error
					</li>
				}
			</ul>
		</div>
	}

	<button class="btn btn-danger" type="submit"><b>Delete</b></button>
	<a class="btn btn-primary" href="/categories"><b>Cancel</b></a>
</EditForm>

@code
{
	[Parameter]
	public int id { get; set; }

	CategoryResponse model = new();

	List<string> errors = new();

	protected override async Task OnInitializedAsync()
	{
		var response = await CategoryService.GetAsync(id);

		if(response is null || !response.Success || response.Data is null)
		{
			navigationManager.NavigateTo("/categories");
			return;
		}

		model.Title = response.Data.Title;
	}

	async Task HandleSubmitAsync()
	{
		errors.Clear();

		var request = await CategoryService.DeleteAsync(id);

		if(!request)
		{
			errors.Add("Failed to delete category.");
			return;
		}

		navigationManager.NavigateTo("/categories");
	}
}