@page "/categories/update/{id:int}"
@inject AppDbContext context
@inject NavigationManager navigationManager

<PageTitle>Update Category</PageTitle>

<h1>Update: @model!.Title</h1>

<EditForm Model="model" OnValidSubmit="HandleSubmitAsync">

	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="mb-3"> 
		<label for="Title" class="form-label"><b>Title</b></label>
		<InputText id="Title" type="text" class="form-control" @bind-Value=@model.Title/>
	</div>

	<button class="btn btn-success" type="submit"><b>Update</b></button>
</EditForm>

@code
{
	[Parameter]
	public int id { get; set; }

	Category? model = new();

	protected override async Task OnInitializedAsync()
	{
		model = await context.Categories.FindAsync(id);
		if(model is null)
			navigationManager.NavigateTo("/categories");
	}

	async Task HandleSubmitAsync()
	{
		var updatedCategory = await context.Categories.FindAsync(id);
		if (updatedCategory is null)
			return;

		updatedCategory.Title = model!.Title;

		await context.SaveChangesAsync();

		navigationManager.NavigateTo("/categories");
	}
}

